<a href="https://colab.research.google.com/github/BhargavaSaiJetti/Artificial-Intelligence-and-Machine-Learning-/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Task1-Create two lists and join those two lists

In [1]:
test_list1 = [1,14,15,6,5]

In [3]:
test_list2 = [3,4,7,12,51]

In [4]:
test_list3 = test_list1 + test_list2

In [5]:
print('Joined list : '+str(test_list3))

Joined list : [1, 14, 15, 6, 5, 3, 4, 7, 12, 51]

In [6]:
# Task2 - With 'if' statement find the even numbers

In [21]:
a = int(input("Enter a : "))
if((a%2)==0):
  print("even")
else:
    print("odd")

Enter a : 20
even

In [22]:
# Task3-Create a dictionary with 3 keys and 2 values for each key

In [24]:
demo = {'first':[1,2],
        'second':[3,4],
        'third':[5,6]}

In [26]:
example=demo['first']

In [27]:
print(example)

[1, 2]

In [28]:
# Task4-Create a function with 'if' statement to find odd numbers

In [30]:
b=int(input("Enter b :"))
if((b%2)==0):
  print("Not Odd")
else:
  print("It is Odd")

Enter b :13
It is Odd

In [31]:
# Task5-Write a python function to sum all the numbers in the list

In [32]:
list1=[8,2,3,0,7]

In [33]:
total=sum(list1)

In [34]:
print("The sum of list is : ",total)

The sum of list is :  20